.main-price{
    font-weight: 500;
}
@media screen and (max-width: 768px){
    .discount {
        width: 45px;
        height: 35px;
        margin-right: 120px;
    }
    .final-rice {
        margin-right: 0px;
        font-size: 16px;

    }
    .price-box .price-Toman {
        font-size: 11px;
    }
    .main-title .title-text {
        font-size: 14px;

    }
    .main-title{
        margin-top: 0;
        margin-bottom: 0;
    }
    .time-author-box {
        margin-bottom: 0;
    }
}
@media  screen and (max-width:376px){
    .time-author-box {
        font-size: 11px;
    }
    .main-title .title-box .title-text{
        font-size: 14px;
    }
    .final-rice {
        margin-left: 6px;
        font-size: 16px;
    }
    .price-info .final-price-box{
        /*margin-right: 16px;*/
    }
    .price-box .price-Toman {
        font-size: 11px;
    }

    .price-box .add-cart-info{
        margin-top: 4px;
    }
    .discount {
        width: 45px;
        height: 35px;
    }
    .add-cart-info {
    margin-right: 15px;
    }
}
@media  screen and (max-width:338px){

    .final-rice {
        margin-left: 0px;
    }
    .add-cart-info {
        margin-right: 7px;
    }

}
@media  screen and (max-width:315px){
    .product-item-content {
        width: calc(100% - 70px);
        padding-right: 10px;
    }

    .img-box {
        width: 70px;
        height: 70px;
    }
    .discount {

        margin-right: 93px;
    }

}
@media  screen and (max-width:301px){

    .final-rice {
        margin-left: 5px;
    }
    .discount {

        margin-right: 95px;
    }

}
@media  screen and (max-width:1200px){

}

@media screen and (max-width:768px){

}
