
.product-item-box {
    margin-bottom: 25px;
    padding: 15px;
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
}
.img {
    width: 100%;
    height: 100%;
}
npm
/*----------------title--------------*/
.main-title {
    padding: 20px 0 15px 0;
}

.main-title .title-text {
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    line-height: 1.5rem;
    height: 3rem;
    letter-spacing: normal;
    color: #333333;
    background-color: aqua;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}


/*--------------------author box---------------------*/

.time-author-box {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    font-size: 13px;
}

.author {
    color: #666666;

}

.teacher-icon {
    width: 13px;
    height: 13px;
    margin-left: 6px;

}

.time-icon {
    width: 12px;
    height: 12px;
    margin-left: 6px;

}

.time {
    color: #666666;
}

.box-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*-------------------price box----------------------*/
.add-cart-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.price-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.final-price-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.price-box {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.discount {
    width: 54px;
    height: 54px;
    border-radius: 0 20px 0 20px;
    order: -1;
    position: absolute;
    background-color: #ff5050;
    color: white;
    top: 0;
    right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-price {
    color: #ff5050;
    text-decoration: #333333 line-through;
    font-size: 13px;
}

.final-rice {
    margin-left: 6px;
    font-size: 18px;
}

.add-cart-icon {
    width: 19px;
    order: 1;
}

.price-box .price-Toman {
    font-size: 13px;
}

@media screen and (max-width: 990px) {

    .price-box .main-price {
        font-size: 18px;
    }
}

@media screen and (max-width: 768px) {

    .add-cart-info {
        order: 2;
    }

    .price-info {
        flex-direction: column;
    }

    .final-price-box {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .product-item-box {
        padding-bottom: 0;
    }
    .price-box .main-price {
        font-size: 11px;
    }

    .product-item-main-box {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .product-item-content {
        width: calc(100% - 90px);
        padding-right: 15px;
    }

    .img-box {
        width: 90px;
        height: 90px;
    }

    /*----------------title--------------*/
    .main-title {
        padding: 0;
    }

    /*-------------------price box----------------------*/
    .discount {
        border-radius: 10px 10px 0 0;
        position: absolute;
       top:auto;
        bottom: 25px;
    }
    .price-box{
        justify-content: flex-end;
    }
    .add-cart-info{
        margin-right: 30px;
    }
}

@media screen and (max-width: 300px) {
    .product-item-content {
        width: calc(100% - 70px);
        padding-right: 10px;
    }

    .img-box {
        width: 70px;
        height: 70px;
    }
}

