.add-cart-info{
    display: flex;
    justify-content: center;
    align-items: center;
}
.price-info{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media  all and (max-width:768px){
    .add-cart-info{
        order: 2;
    }
    .price-info{
     flex-direction: column;
    }
    .price-box{
        justify-content: flex-end;
    }
    .final-price-box{
        display: flex;
        justify-content: center;
        align-items: center;

    }
.product-item-box{
    padding-bottom: 0;
}
    .main-price{
        font-size: 11px;
        background-color: aqua;
    }

}